{% extends "products/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block title %}{{ site_name }}: Logout{% endblock title %}
{% block nav %}{% endblock nav %} {# Hide top menu #}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 big-box">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %} <br />
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="" >
        {% csrf_token %}
        {% bootstrap_form password_reset_form %}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
        </div>
    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block domready %}
    $("#id_email").focus();
{% endblock domready %}