{% extends "account/profile/settings.html" %}
{% load html_filters %}

{% load i18n %}

{% block title %} {{ site_name }}: Edit Profile {% endblock title %}

{% block account_nav_email %}active{% endblock %}

{% block tab_content %}
    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form edit_profile_form %}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit" name="action">{% trans "Update Profile" %}</button>
        </div>
    </form>
{% endblock tab_content %}